/* ----------ОБЩИЙ---------- */

.list {
  list-style: none;
}

.page {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  width: 1600px;
  background-color: #ffffff;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --secondary-backgroud-color: #f5f4fa;
  --primary-background-color: #e5e5e5;
  --head-background-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid red; */
}
/* ----------ШАПКА----------*/

.logo {
  margin-right: 93px;
}

.hat .container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--accent-text-color);
}

.contacto {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  list-style: none;
}

.contacts + .contacts {
  margin-left: 50px;
}

.link:not(last-child) {
  margin-right: 50px;
}

.headder-contact {
  margin-left: auto;
}

.text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.site-nav,
.contacts {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* ----------ГЕРОЙ---------- */

.section-hero {
  color: var(--primary-text-color);
  background-color: var(--head-background-color);
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}

.hero-content {
  padding: 200px 452px 280px 452px;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
}

.hero-title {
  color: var(--secondary-backgroud-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  position: absolute;
}

.btn-index {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--secondary-backgroud-color);
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  padding: 10px 32px;
  border: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  position: absolute;
  left: 732px;
  top: 440px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
}

.subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ----------ПРЕИМУЩЕСТВА----------*/

.site-nav.list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-work + .about-work {
  margin-left: 30px;
}

.text {
  max-width: 270px;
  height: 75px;
}
/* ----------ЗАНЯТИЯ----------*/

.site-nav.work {
  display: flex;
  list-style: none;
}

.section-wwd {
  padding-bottom: 94px;
}

.it-wwd + .it-wwd {
  margin-left: 30px;
}

/* ----------КОМАНДА---------- */

.sectionteam {
  background-color: var(--secondary-backgroud-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.htwotitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.ourteam {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.textteam {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ----------ПОДВАЛ----------- */

.logo,
.link,
.contacts {
  text-decoration: none;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-backgroud-color);
  font-style: normal;
}

.contactsfot {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
}

.contactsfot:hover,
.contactsfot:focus {
  color: var(--accent-text-color);
}

.color-footer {
  background-color: var(--head-background-color);
}

.logo-footer {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-decoration: none;
  color: #ffffff;
}

.footer-color {
  background-color: var(--head-background-color);
}

/* ----------ШАПКА-ПОРТФОЛИО---------- */

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
}

.btn-profile {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--secondary -backgroud-color);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: transparent;
  border-radius: 4px;
}

.header-portfolio {
  display: block;
  border-bottom: 1px #ececec;
}

.btn-profile:hover,
.btn-profile:focus {
  color: var(--secondary-backgroud-color);
  background-color: var(--accent-text-color);
}

/* ----------СОДЕРЖАНИЕ ПОРТФОЛИО---------- */

.potfolioh3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.textportfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
